.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  
  .card {
    padding: 2%;
    justify-content: space-between;
    height: 200px;
    width: 400px;
    border: 2px solid black;
    margin: 10%;
    background-color: lightgray;
    &:hover {
      box-shadow: 0 0 10px blue;
      transition: 0.4s;

    }
      img {
      border: 2px solid white;
      border-radius: 50%;
      background-color: white;
    }
  }
}

